extends layout
block content
    h2.mt-3.mb-3 User Registration Form
    p New User Data
        form(action="/users/register", method="post")
            #form-group
                label.small Enter Your Name:
                input.form-control.col-sm-10.col-md-4(name='username', type="text")
            #form-group
                label.small Enter Your E-mail:
                input.form-control.col-sm-10.col-md-4(name='email', type="text")
            #form-group
                label.small Enter Your Nick Name:
                input.form-control.col-sm-10.col-md-4(name='nickname', type="text")
            #form-group
                label.small.mt-2 Enter Your Password:
                input.form-control.col-sm-10.col-md-4(name='pwd', type="password")
            #form-group
                label.small.mt-2 Confirm Your Password:
                input.form-control.col-sm-10.col-md-4(name='pwd2', type="password")                
            input.btn.btn-success.mt-2.mr-2.col-sm-4.col-md-2(type="submit", value="Save")
            a.btn.btn-primary.mt-2.mr-2.col-sm-4.col-md-2(href="/users/login") Already registered?