  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown a {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {
    background-color: #17A2B8;
    color:white;
  }
  
  .footer {
    background-color: white;
    z-index: 1;
/*    position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .alert-error {
    border-color: #ebccd1;
    color:#a94442;
    background-color: #f2dede;
 }

 .alert-success_msg {
  border-color: #d6e9c6;
  color:#3c763d;
  background-color: #dff0d8;
}